@{
    ViewData["Title"] = "Index ";

    ///Nome
    ///email
    ///numero
    ///materia
    ///quais dia da semana
    ///qual binmestres
}
<div class="text-center">
    <h1 class="display-4">Teste</h1>
    <h2>@ViewData["Mensagem"]</h2>
    <h3>@ViewData["Email"]</h3>
</div>